.nav-ul{
    padding:5px;
    margin:0;
    background-color:black;
  }


.nav-right{
    text-align: right;
  }

  .nav-ul li{
    display: inline-block;
    padding:10px;
  }
  
  .nav-ul li a{
    color:goldenrod;
    padding: 5px;
    text-decoration:none;
  }